* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    line-height: 1.5;
}

:root {
    /*?todo *************** width of each sections ********************* */
    --width-of-section : 80%;

    /*? colors */
    --navbar-logo-color: #1E3A5F;
    --navbar-background-color : #8DBEE1;
    --navbar-link-color : #1E3A5F;
    --hero-heading-color : #1E3A5F;
    --hero-subheading-color : #3B6A94;
    --hero-paragraph-color : #2A4F7A;
    --hero-button-color : #2A4F7A;

    --section-subheading-color : #1E3A5F;
    --section-heading-color : #2A4F7A;
    --section-paragraph-color : #3B6A94;

    --how-it-works-paragraph-color : #2A4F7A;
    --how-it-works-number-color : #ffffff;

    --faq-question-color: #2A4F7A;
    --faq-answer-color: #3B6A94;

    --footer-text-color : #EAF4FF;

    /*todo login page */
    --login-heading-color : #1E3A5F;
    --login-subheading-color : #3B6A94;
    --login-text-color : #2A4F7A;
    --login-button-text-color: #A3D5FF;

    /*todo dashboard page */
    --sidebar-link-color: #EAF4FF;
    --dashboard-hero-heading-color: #1E3A5F;
    --dashboard-hero-subheading-color: #3B6A94;
    --dashboard-hero-paragraph-color: #2A4F7A;

    /*todo planner page */
    --day-bar-color: #EAF4FF;

    /*todo session page */
    --timer-font-color: #BFF4FF;



    /*? size */
    --navbar-logo-size: 1.625rem;      /* 26px */
    --navbar-link-size: 1.25rem;       /* 20px */

    --hero-section-heading: 2.625rem;  /* 42px */
    --hero-section-subheading: 1rem;   /* 16px */
    --hero-section-paragraph: 1.25rem; /* 20px */
    --hero-section-button: 1.5rem;     /* 24px */

    --home-page-heading: 1.125rem;     /* 18px */
    --home-page-paragraph: 1.125rem;   /* 18px */

    --section-subheading-size: 1rem; /* 16px */
    --section-heading-size: 2.25rem;     /* 36px */
    --section-paragraph-size: 1.125rem;  /* 18px */

    --how-it-works-number-size: 1.875rem;   /* 30px */
    --how-it-works-subheading-size: 1.125rem; /* 18px */
    --how-it-works-paragraph-size: 1.125rem;      /* 16px */

    --faq-question-size: 1.125rem; /* 18px */
    --faq-answer-size: 1.125rem;       /* 16px */

    --footer-icons-size: 1.875rem; /* 30px */
    --footer-heading: 1.125rem;    /* 18px */
    --footer-paragraph: 1.125rem;      /* 16px */

    --feature-heading-size: 1.125rem; /* 18px */
    --feature-paragraph-size: 1.125rem;   /* 16px */

    /*todo login page */
    --login-heading-size: 2.25rem;     /* 36px */
    --login-subheading-size: 1rem;     /* 16px */
    --login-text-size: 1.125rem;       /* 18px */
    --login-button-text-size: 1.5rem;  /* 24px */

    /*todo sidebar */
    --sidebar-link-size: 1.5rem; /* 24px */

    /*todo dashboard page */
    --dashboard-hero-heading-size: 2.625rem; /* 42px */
    --dashboard-hero-subheading-size: 1.25rem; /* 20px */
    --dashboard-hero-paragraph-size: 1.125rem; /* 18px */
    --dashboard-battery-percent-size: 1.5rem;  /* 24px */
    --dashboard-today-plan-button-size: 1.25rem; /* 20px */
    --dashboard-feature-subheading-size: 1.625rem; /* 26px */

    /*todo planner page */
    --date-bar-size: 1.125rem; /* 18px */
    --day-bar-size: 1.125rem;  /* 18px */
    --today-details-size: 1rem; /* 16px */

    /*todo session page */
    --timer-font-size: 3.25rem; /* 52px */


    /*? background */
    /*todo home page */
    --hero-section-button-background : linear-gradient(90deg, #8DBEE1 0%, #A3D5FF 50%, #B1E5FF 100%);
    --hero-section-hover-button-background : linear-gradient(90deg, #B1E5FF 0%, #A3D5FF 50%, #8DBEE1 100%);

    --card-color-1 : #BFF4FF;
    --card-color-2 : #A3D5FF;

    --number-color : #1E3A5F;
    --how-it-works-color : #B1E5FF;

    --cta-section-color : linear-gradient(90deg, #8DBEE1, #BFE4EF, #A3D5FF);

    --faq-section-color : linear-gradient(180deg,rgba(107, 173, 219, 1) 0%, rgba(125, 196, 255, 1) 50%, rgba(143, 218, 255, 1) 100%);
    --faq-question-background : #A3D5FF;
    --faq-answer-background : #BFF4FF;

    --footer-background : #2A4F7A;
    --footer-icons-background : #1E3A5F;

    /*todo feature page */
    --feature-icons-background : #3B6A94;

    --who-it-is-for-background : #BFF4FF;
    --who-card-color-1 : #A3D5FF;
    --who-card-color-2 : #8DBEE1;


    /*todo how it works page */
    --system-process-color : #B1E5FF;
    --design-engine-background : #BFF4FF;

    --decision-engine-heading : #A3D5FF;
    --decision-engine-paragraph : #8DBEE1;

    /* todo login page */
    --login-page : #A3D5FF;
    --login-page-card : #8DBEE1;
    --login-button-background: #3B6A94;
    --login-input-background: #B1E5FF;

    /*todo dashboard page */
    --sidebar-background: #3B6A94;
    --sidebar-collapse-background: #A3D5FF;
    --recommendation-card-background : #8DBEE1;


    /*todo planner page */
    --date-bar-background: #EAF4FF;
    --day-bar-background: #3B6A94;


    /*? shadow */
    /*! find more about it */
    --button-shadow : [0_8px_20px_rgba(0,0,0,0.15)]; 
}

/*? styling for buttons */
.hero-btn {
  background: var(--hero-section-button-background);
  background-size: 200% 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.hero-btn:hover {
  background: var(--hero-section-hover-button-background);
  background-position: right;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  -webkit-transform: translateY(-2px) scale(1.03);
  -moz-transform: translateY(-2px) scale(1.03);
  -ms-transform: translateY(-2px) scale(1.03);
  -o-transform: translateY(-2px) scale(1.03);
}

.activeAns{
  background-color: var(--faq-answer-background);
  font-size: var(--faq-answer-size);
  padding: 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--faq-answer-color);
  font-weight: 600;
  font-size: var(--faq-answer-size);
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}


.notActiveAns {
  display: none;
}


.sidebar {
  width: 15rem;      
  margin-top: 3rem; 
  height: 100vh;     
  position: fixed;   
}

.collapseSidebar {
  width: 3rem;      
  margin-top: 3rem;  
  height: 100vh;     
  position: fixed;  
}

.sidebarContainer{
  width: 15rem;
}

.collapseSidebarContainer{
  width: 3rem;
}


/*? productivity graph on analytics page */
.activeBtn {
  background-color: var(--day-bar-background);
  color: var(--sidebar-link-color);
}

.nonActiveBtn{
  background-color: var(--card-color-2);
  color: var(--navbar-link-color);
}


/*todo responsive layout */
html {
  font-size: 14px; /* mobile (minimum) */
}

@media (min-width: 640px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}









